  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  :root{
    --font-raleway: "Raleway", sans-serif;
  }

  *{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    --font-raleway: "Raleway", sans-serif;
}

body{
    background: #61677A;
}

#app {
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Barcima{
    background-color: #272829;
    position: absolute;
    width: 400%;
    height: 4em;
    top: 0;
}

.Titl {
    color: #fff;
    padding-left: 5em;
    padding-top: 2.5em;
    font-family: "Raleway", sans-serif;
}

.NavEsquerda {
    position: fixed;
    background: #272829;
    width: 15em;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;

}

.search{
    position: absolute;
    width: 12em;
    height: 4em;
    margin: 2rem 1.3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: #fff solid 0.05em;
    background: #1f2123;


}

.search input {
    padding-left: 0.5em;
    outline: none;
    background: none ;
    font-weight: 500; 
    font-size: 17px;
    color: #fff;
    width: 10em;

}

.classFilm {
    position: absolute;
    top: 5em;
    left: 0em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.00);
    
}

.classFilm p{
    cursor: pointer;
    margin-top: 1em;
    border: #fff solid 0.05em;
    border-radius: 0.2em;
    display: flex;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 2em;
    width: 10.5em;
    padding-top: 0.4em;
    padding-left: 0.5em;
    font-family:"Raleway", sans-serif; ;

}

.empty{
    width: 100%;
    margin-top: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    

    color: #f0f0f0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sect{
    display: flex;
}

::-webkit-scrollbar{
    display: none;
}
.container{
    margin-top: 3rem;
    margin-left: 160em;
    overflow-x: 10px;
    display: flex;
    overflow-x: auto;
    overflow-x: hidden;
    justify-content: space-evenly;
    white-space: nowrap;
    padding-bottom: 2em;
}

.rodape {
    position: absolute;
    background: #272829;
    width: 400%;
    height: 2em;
    bottom: 0px;
}

@media screen and (max-width: 600px){
    .app{
        padding: 4rem 2rem;
    }
    .search{
        padding: 1rem 1.75rem;
        width: 100%;
    }
    .search input {
        font-size: 1rem;
    }
    .search img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .app{
        padding: 4rem 1rem;
    }
    .h1{
        font-size:2rem;    
    }
    .container{
        margin-top: 2rem;
    }
    .movie{
        width: 100%;
        margin: 1rem;
    }
}